* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #efe4b08a;
  text-align: center;
}

h1, 
h2, 
h3 {
  color:#ff7f27;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
}

h3 {
  font-style: 30px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
}

ul {
  list-style: none;
  padding: 1em;
  line-height: 1.5;
}

.main-header {
  /*background-color: #f7f7f7;*/
  border-bottom: 5px solid #800013;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  text-align: right;
  display: flex;
  flex-direction: column;
}

.section-break {
  /*background-color: #f7f7f7;*/
  border-top: 5px solid #800013;
  border-bottom: 5px solid #800013;
  border-radius: 10px;
  margin: 50px 20px;
}

.section-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0px;
  gap: 30px;
}

.bookings {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 500px;
}

body {
  background-color: black;
}

.header-logo {
  max-width: 100px;
  max-height: 100px;
}

li:nth-child(even) {
  color: #ff7f27;
}

a:link {
  color: #ff7f27;
  text-decoration: none;
}

a:visited {
  color: #ff7f27;
}

a:hover {
  color: #800013;
  font-weight: bold;
  text-decoration: underline #800013;

}

a:active {
  background-color: #800013;
  color: #ff7f27;
}

.body-photo {
  max-height: 50%;
  width: 100%;
  border-radius: 30px;
}

.btn {
  padding: 15px 32px;
  background-color:#800013;
  color:#ff7f27;
  font-size: 20px;
  display: block;
  text-align: center;
  border-radius: 30px;
  border: 1px solid #ff7f27;
  transition-duration: .5s;
  cursor: pointer;
  margin: auto;
}

.btn:hover {
  background-color: black;
}


/* Floats */

